* {
    margin: 0;
    box-sizing: border-box;
}

body {
	display:flex;
	justify-content: center;
}

canvas {
	border: 1px solid red;
}

.canvas-container {
	position:relative;
	width: 640px;
	height:480px;
	border: 2px solid;
}

#map-canvas {
	position: absolute;
	top: 10px;
	left: 10px;
}

#world-canvas {
	position: absolute;
}

p {
	font-size: 40px;
}
