* {
    margin: 0;
    box-sizing: border-box;
}
canvas {
}

body {
    display:flex;
}

.dash {
    margin-left: 10px;
    top: 0;
}

input {
    width: 70px;
}
.section-heading {
	text-decoration: underline;
	margin: 15px 10px 0 10px;
}
